@import './shared/fonts';
@import './shared/index';
@import './shared/header';
@import './shared/portfolio';


$black-base1: #403F3E; 
$black-base2: #807E7D;

html, body {
    font-family: 'Lato' !important;
    height:100%;
    width:100%;
}

.clickable {
    cursor: pointer;
}

.CustomClass {
    color: red;
} 

.self-typed {
    color: $black-base1;
    font-size: 2em;
    letter-spacing: 2px;
}

.base-page {
    padding-top: 150px ; 
}

